.faq{

background:#f8fafc;

}



.faq-wrapper{

max-width:850px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}



.faq-item{

background:white;

border-radius:18px;

overflow:hidden;

border:1px solid #e5e7eb;

transition:.3s ease;

}



.faq-question{

width:100%;

padding:25px;

display:flex;

align-items:center;

justify-content:space-between;

background:white;

border:none;

font-size:18px;

font-weight:600;

cursor:pointer;

color:#111827;

}



.faq-question svg{

transition:.3s ease;

color:#4f46e5;

}



.faq-answer{

max-height:0;

overflow:hidden;

transition:.4s ease;

}



.faq-answer p{

padding:0 25px 25px;

color:#6b7280;

line-height:1.7;

}



.faq-item.active{

box-shadow:
0 15px 35px rgba(0,0,0,.08);

}



.faq-item.active 
.faq-answer{

max-height:200px;

}



.faq-item.active
.faq-question svg{

transform:rotate(180deg);

}



@media(max-width:600px){

.faq-question{

font-size:16px;

padding:20px;

}

}